body{
			margin: 0;
			padding: 0;
			background-color: #f5f5f5;
		}
		#tablecontainer{
			width: 100%;
			margin: 0;
			height: auto;		
		}
	  	.it{
			width: 100%;
	        padding: 10px;
	        border: 2px solid transparent;
	        border-radius: 5px;
	        background-color: #82AAE3;
	        color: #3E54AC;
	        font-weight: 600;
	        box-sizing: border-box;
	        margin-bottom: 20px;
	        font-size: 16px;

		}
		.it:focus, input:focus{
    	outline: none;
    	border-color: ghostwhite;
    	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
		}
		::placeholder{
		 color: #fff; 
		}
		.btn{
        background-color: #EBB02D;
        color: #fff;
        padding: 8px;
        border: 2px solid transparent;
        border-radius: 5px;
        font-size: 16;
        width: 90%;
        height: 5%;
        cursor: pointer;
      	}
      	.btn:hover{
        background-color: #FEFF86;
        color: black;
        border: 2px solid #fff;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
		transition: all 200ms linear;
     	}
     	.popup{
     		width: 400px;
     		background: #ECF2FF;
     		border-radius: 6px;
     		position: fixed;
     		margin-top: 8%;
     		left: 50%;
     		transform: translate(-50%,-50%) scale(0.1);
     		text-align: center;
     		padding: 0 30px 30px;
     		color: #333;
     		visibility: hidden;
     		transition: transform 0.4s, top 0.4s;
     	}
     	.open-popup{
     		visibility: visible;
     		top: 40%;
			
     		transform: translate(-50%, -50%) scale(1);
     		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
     	}
     	.submit{
     		width: 100%;
     		margin-top: 50px;
     		padding: 10px 0;
     		background: #4caf50;
     		border: 1px solid transparent;
     		color: #fff;
     		outline: none;
     		font-size: 18px;
     		border-radius: 4px;
     		cursor: pointer;
     	}
     	.submit:hover{
     		background-color: #6fd649;
	        border: 1px solid #ffffff;
	        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
     	}
     	#icon{
			transition: all 300ms linear;
			background-color: #ffffff;
			margin-top: -10px;
			margin-left: 400px;
			height: 40px;
			width: 40px;
			font-size: 18;
			border-radius: 100px;
			border: 2px solid #FF0032;
			text-align: center;
			color: #FF0032;
			cursor: pointer;
		}
		#icon:hover{
			transition: all 200ms linear;
			background-color: #FF0032;
			border:  2px solid #850000;
			color: #ffffff;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
		}
		.iconhome{
			transition: all 300ms linear;
			background-color: #ffffff;
			margin-left: 5px;
			height: 50px;
			width: 50px;
			font-size: 26;
			color: #362FD9;
			border-radius: 100px;
			border: 2px solid #645CBB;
			cursor: pointer;
		}
		.iconhome:hover{
			transition: all 300ms linear;
			background-color: #362FD9;
			border:  2px solid #ffffff;
			color: #ffffff;
			box-shadow: 0 2px 4px 0 #fff;
		}
		.heady{
			background-color: #191e2c;
			border-bottom: 2px solid #ffffff;
			color: ghostwhite;
			width: auto;
			padding: 10px;
			display: grid;
  			grid-template-columns: 1fr 1fr 1fr;
		}
		.Lspan{
			margin-top: 2%;
		}
		.Rspan{
			margin-left: 50%;
			margin-top: 1%;
		}
		.tablecss{
			background-color: #ECF2FF;
			margin: auto;
			margin-top: 10px;
			border-collapse: collapse;
    		width: 50%;
    		border: 1px solid #ddd;
		}
			th, td {
		    padding: 8px;
		    text-align: left;
		    font-size: 14px;
		    border: 1px solid #ddd;
		  	}

		  th {
		    background-color: #362FD9;
		    font-weight: bold;
		    color: #fff;
		    position: sticky;
		    top: 0;
		    border: 1px solid #ddd;
		  }
		  .editbutton{
		  	width: 12%;
		  	padding: 5px 2px;
		  	margin: 2px;
		  	text-align: center;
		  }
		  tr:nth-child(even) {
		    background-color:#FFFFFF ;
		  }

		  tr:hover {
		  	transition: all 200ms linear;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
		    background-color:#82AAE3 ;
		  }

		  td:first-child {
		    border-left: 0;
		  }

		  td:last-child {
		    border-right: 0;
		  }

		  td {
		    border-top: 0;
		    border-bottom: 0;
		  }
     	.warn{
     		color: #FC2947;
     		text-align: center;
     	}
     	.radio{
     		  background: #82AAE3;
     		  color: #3E54AC;
     		  font-size: 22;
			  align-items: center;
			  justify-content: space-evenly;
			  margin: auto;
			  border-radius: 5px;
			  cursor: pointer;
			  padding: 5 10px;
			  border: 2px solid transparent;
			  transition: all 200ms linear;
     	}
     	.radio:hover{
     		  background: #82AAE3;
     		  color: #fff;
			  border: 2px solid #fff;
			  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
			  transition: all 200ms linear;
     	}
     	